UbidotsModificado.json
[
    {
        "id": "8d442304d47c90e0",
        "type": "tab",
        "label": "Flow 12",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3648a39b6f4e279f",
        "type": "ubidots_out",
        "z": "8d442304d47c90e0",
        "name": "Ubidots",
        "token": "BBFF-x8D2AHDvGcS8ib7ZALqQIhXJ1n7CJ7",
        "label_device": "",
        "device_label": "Temperatura",
        "tier": "educational",
        "tls_checkbox": true,
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "f90bb31ddf9c5d46",
        "type": "inject",
        "z": "8d442304d47c90e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "5f9cdf72d24d295d"
            ]
        ]
    },
    {
        "id": "5f9cdf72d24d295d",
        "type": "openweathermap",
        "z": "8d442304d47c90e0",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Alicante",
        "country": "Spain",
        "language": "es",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "b15698b961818709"
            ]
        ]
    },
    {
        "id": "b15698b961818709",
        "type": "function",
        "z": "8d442304d47c90e0",
        "name": "",
        "func": "var Variable = msg.payload.tempc\n\nmsg.payload = {\"temperatura\": Variable}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "d720b3d8cf7e3f30",
                "3648a39b6f4e279f"
            ]
        ]
    },
    {
        "id": "d720b3d8cf7e3f30",
        "type": "debug",
        "z": "8d442304d47c90e0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 240,
        "wires": []
    }
]